.retrotable {
    font-family: var(--press-start-2p);
    border: 5px solid;
    border-collapse: collapse;

    // Makes sure the size is fixed and does not change based on input
    table-layout: fixed; 

    max-width: 50%;

    th, td {
        border: 5px solid;
        width: 50px;
        padding-right: 20px;

        input {
            border-style: none;

            font-size: 15px;
            font-family: var(--press-start-2p);
            width: 100%;
            background-color: transparent;
        }
    }

    th {
        padding-left: 10px;
        padding-right: 10px;
    }

    .hidden_column {
        padding: 0px;
        border-color: transparent;
        min-width: 5px;
    }

    .long_column {
        min-width: 300px;
    }

    .medium_column {
        min-width: 200px;
    }
    
}