.retrotable {
    font-family: var(--press-start-2p);
    color: var(--font--color);
    
    border: 5px solid;
    border-collapse: collapse;

    border-color: red;

    // Makes sure the size is fixed and does not change based on input
    table-layout: fixed; 

    max-width: 50%;

    th, td {
        border: 5px solid;
        width: 50px;
        padding-right: 20px;

        input {
            border-style: none;

            color: var(--font--color);

            font-size: 15px;
            font-family: var(--press-start-2p);
            width: 100%;
            background-color: transparent;
        }

        
    }

    th {
        padding-left: 10px;
        padding-right: 10px;
    }

    .hidden_column {
        text-align: left;
        padding: 0px;

        padding-left: 5px;
        padding-right: 5px;

        border-color: transparent;
        opacity: 0;

        width: auto;

        &:hover {
            opacity: 100%;
        }
    }

    .long_column {
        min-width: 300px;

        @media all and (max-width: 1200px) {
            min-width: auto;
        }
    }

    .medium_column {
        min-width: 200px;

        @media all and (max-width: 1200px) {
            min-width: auto;
        }
    }
}