:root {
    --viewport-padding-size: 100px;
}

html, body {
    margin: 0px;
    padding: 0px;

    height: 100%;
    width: 100%;

    background-color: red;
}

body {
    display: flex;
    justify-content: center;
}

.press-start-2p {
    font-family: var(--press-start-2p);
}

.vt323 {
    font-family: var(--vt323);
}

.main--header {
    position: absolute;
    font-family: var(--press-start-2p);
    background-color: white;

    top: calc(var(--viewport-padding-size)/2);

    padding: 50px;

    font-size: 25px;
    text-align: center;

    border-style: solid;
    border-width: 5px;
    border-color: black;
}

.main--viewport {
    height: 100%;
    width: 100%;

    background-color: green;
    padding: var(--viewport-padding-size);

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.main--content {
    width: 100%;
    height: 100%;
    
    background-color: pink;

    border-style: solid;
    border-width: 5px;
    border-color: black;
}

.main--content {
    display: grid;
    grid-template-columns: 0.5fr 2fr; /* Two columns: left side and right side */
    grid-template-rows: 1fr 1fr;   /* Two rows: top and bottom */
}

.sidebar--container {
    padding: 25px;
}

.sidebar--container--1 {
    grid-row: 1 / 2; /* Top row */
    grid-column: 1 / 2; /* First column */
    background-color: lightblue;

    border-style: solid;
    border-width: 0px 5px 2.5px 0px;
    border-color: black;    

    display: flex;
}

.sidebar--container--2 {
    grid-row: 2 / 3; /* Bottom row */
    grid-column: 1 / 2; /* First column */
    background-color: lightgreen;

    border-style: solid;
    border-width: 2.5px 5px 0px 0px;
    border-color: black;   
}

.sidebar--content {
    background-color: yellow;
    width: 100%;
    height: 100%;
}

.retrotable--container {
    grid-row: 1 / 3; /* Spanning top and bottom rows */
    grid-column: 2 / 3; /* Second column */
    background-color: lightcoral;
}

.retrotable--container {
    padding: 25px;
    padding-top: 75px;
}

.retrotable--content {
    background-color: yellow;
    height: 100%;
    width: 100%;
}

.retrotable--name--container {
    background-color: green;

    display: flex;
    align-items: center;
    justify-content: center;
}

.retro--input {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    min-height: 50px;
    min-width: 300px;

    font-size: 15px;
    font-family: var(--press-start-2p);
}