.button {
    border-style: solid;
    border-color: var(--border--color);
    border-width: 5px;

    background-color: var(--background--color);

    color: var(--font--color);

    height: 50px;

    font-size: 15px;
    font-family: var(--press-start-2p);
    
    &:hover {
        background-color: var(--highlight);
        cursor: pointer;
    }
}