.sidebar_container {
    padding: 25px;

    font-size: 15px;
    font-family: var(--press-start-2p);
}

.sidebar_1 {
    grid-row: 1 / 2; /* Top row */
    grid-column: 1 / 2; /* First column */
    background-color: lightblue;

    border-style: solid;
    border-width: 0px 5px 2.5px 0px;
    border-color: black;    

    display: flex;
}

.sidebar_2 {
    grid-row: 2 / 3; /* Bottom row */
    grid-column: 1 / 2; /* First column */
    background-color: lightgreen;

    border-style: solid;
    border-width: 2.5px 5px 0px 0px;
    border-color: black;   
}

.sidebar_content {
    background-color: yellow;
    width: 100%;
    height: 100%;

    .sidebar_row {
        background-color: red;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        padding-top: 10px;
        padding-bottom: 10px;

        column-gap: 10px;
    }
}

.score_card {
    border-style: solid;
    border-color: black;

    padding: 5px;
    text-align: center;
}

.sidebar_button {
    border-style: solid;
    border-color: black;
    border-width: 5px;

    background-color: white;

    height: 50px;
    width: 50px;

    font-size: 15px;
    font-family: var(--press-start-2p);
}