.table__table__wrapper {
    border-collapse: collapse; 

    thead {
        tr {
            border-top-width: 1px;
            border-top-style: solid;
            border-left: none;
            border-right: none;
            border-bottom-width: 1px;
            border-bottom-style: solid;
        }
    }

    tbody {
        tr {
            td {
                border: none;
                &:not(:last-child) {
                    border-right-width: 1px;
                    border-right-style: solid;
                }
            }

            .table__grade__cell {
                text-align: center;
            }

            .table__units__cell {
                text-align: center;
            }
        }
    }
}